//variables
$primary-color:rgba(147, 86, 220, 1);
$secondary-color: rgba(255, 121, 218, 0.8);
$tertiary-color: #99E2D0;
$backroungd-cards: rgba(246, 246, 246, 1);
$font-family-text: 'Roboto', sans-serif;
